{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
    <link rel="stylesheet" href="{% static 'website/css/main.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <noscript>
        <link rel="stylesheet" href="{% static 'website/css/noscript.css' %}"/>
    </noscript>
    <script type="text/javascript">
        var bodyCacheable = true;

        var exclusionReason =
            {"shouldRender": true, "forced": false};
        var ssrInfo = {"renderBodyTime": 327}

    </script>

    <style>
        #header a {
            font-size: 1em;
        }

        .accordion {
            max-width: 560px;
            margin: 0 auto 100px;
            border-top: 1px solid #d9e5e8;
        }

        .accordion li {
            position: relative;
        }

        .accordion li p {
            display: none;
            padding: 10px 25px 30px;
            color: #6b97a4;
        }

        .accordion a {
            width: 100%;
            display: block;
            cursor: pointer;
            font-weight: 600;
            line-height: 3;

            text-indent: 15px;
            user-select: none;
        }

        .accordion a:after {
            width: 8px;
            height: 8px;
            border-right: 1px solid #4a6e78;
            border-bottom: 1px solid #4a6e78;
            position: absolute;
            right: 5px;
            content: " ";
            top: 17px;
            transform: rotate(-45deg);
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

        .accordion p {

            line-height: 2;
            padding: 10px;
        }

        a.active:after {
            transform: rotate(45deg);
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }
    </style>
</head>
<body class="is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="{% url 'index' %}">PNW Tree & Landscaping</a></h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'services' %}">Services</a></li>
                            <li><a href="{% url 'gallery' %}">Gallery</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <article id="main">
        <header>
            <h2>Our Services</h2>
            <p>A look at what we do</p>
        </header>
        <section class="wrapper style5">
            <div class="inner">
                <div class="image left"><img
                        src="{% static '/website/images/uprooted-trees-best.webp' %}"
                        alt="Massive tree that has crushed somebody's home."/></div>
                <h2>24/7 Emergency Services<br>
                    <a href="tel:+1 360-393-6189">360-393-6189</a>
                </h2>
                <p>We offer 24/7 emergency services because we know that not all emergencies happen during typical
                    business hours. Whether a tree has fallen from a storm, an uprooted tree has ripped up piping, or
                    anything else that constitutes an emergency, we are here. Serving Whatcom, Skagit, and Island
                    Counties.</p>

                <h3><a id="damage-cleanup">Storm Damage cleanup</a></h3>
                <p>Attempting to clean up weather damage on one's own can be incredibly dangerous. The risks of injury,
                    are nearly as high after a storm as they are during it. Stray power
                    lines, shattered glass, and debris such as splintered wood are just a few of the things that must be
                    accounted for after a storm, and are assessed by our team. All of these cleanup procedures should be
                    conducted by professionals, for your safety, and for the safety of your property. We diligently
                    abide by ISA standards, and will work with you to ensure zero additional damage to your
                    property.</p>

                <hr/>
                <p><span class="image right"><img
                        src="{% static '/website/images/climber-horizontal-trees-walker.webp' %}"
                        alt="Tree removal"/></span>
                <h3><a id="damage-cleanup">Tree Removal</a></h3>
                <p>Trees are a beautiful and essential part of our world, and of your property, we all love them.
                    However, we recognize when a tree is beyond recovery. This can happen for a variety of factors such
                    as age, disease, storm damage. When this happens, and the tree is past the point of being able to
                    heal, that is when we recommend removing the tree entirely. Dead trees are incapable of supporting
                    themselves, and can lead to unnecessary hazards.</p>

                <p>All this being said, it can be exceedingly dangerous to try and remove these trees, or even trim them
                    on one’s own. When these issues arise, we are here to help. Your safety, and the safety of your
                    property is of the utmost importance to our team. Our clients depend on us knowing how to safely
                    remove trees that are damaged or diseased, and best-practices are always observed.</p>
            </div>
            <br><br><br>
            <span class=""></span>
            <div class="inner">
                <p><span class="image left"><img
                        src="{% static '/website/images/stump-removal.webp' %}" alt="Stump removal"</span>
                <h3><a id="damage-cleanup">Stump Removal</a></h3>
                <p>Once a tree is removed, the stump can remain and it will continue to grow, as will the roots.
                    Stumps,
                    in and of themselves, are not harmful. However, they can often get in the way of planting new
                    trees,
                    gardens, or obstruct construction projects. Eventually, it is also possible for the
                    roots to begin to push up foundations or fencing. And, of course, stumps can quickly become a
                    home
                    for termites. Which is fine while out in the forest, not near your home! </p>

                <p>This is where we come in. After removing a tree, our team can remove the stump in the most
                    effective
                    way possible. Removing the stump of an old tree, in particular, can be incredibly time-consuming
                    and
                    challenging without the proper knowledge and equipment. We are able to grind down stumps in a
                    quick
                    and efficient manner.</p>
                <br><br>
                <hr>

                <p><span class="image right"><img
                        src="{% static '/website/images/topdown-house.webp' %}" alt=""/></span>
                <h3><a id="damage-cleanup">Trimming & Pruning</a></h3>
                <u>Trimming vs. Pruning</u>

                <p> While these terms are often used interchangeably, there is actually a specific functional
                    difference
                    between the two.</p>

                <p><i>Pruning</i> is generally associated with trees and shrubs whose health would be greatly
                    improved
                    by the
                    removal of dead, diseased, or broken branches. Proper pruning, done by certified professionals,
                    removes
                    these potential hazards.</p>

                <p><i>Trimming</i>, on the other hand is generally applied to shrubs, hedges, and trees for design
                    purposes. Apart
                    from offering a more pleasing aesthetic, trimming can also remove excessively dense growth, and
                    allow
                    for sunlight and moisture to reach other areas.</p>
                <br><br><br>

                <p><span class="image left"><img
                        src="{% static '/website/images/yellowhouse.webp' %}" alt=""/></span>
                <h3><a id="damage-cleanup">Windsailing and Crown Reduction</a></h3>
                <p>Crown-reduction is basically reducing the overall size of a tree’s canopy by using reduction cuts
                    on many of the secondary (smaller) branches all around the outside — shortening as many of the
                    limbs as possible. The best application of crown-reduction is when a tree has been planted in a
                    small area. It isn’t uncommon for a sapling tree to be planted with little to no consideration
                    given to how large it may eventually become — which varies depending on the species as well as
                    environmental factors (such as watering and soil quality). </p>

                <p>Mindful planning of the potential sizes of various tree in a yard is tricky, and if mistakes have
                    been made, crown-reduction can help with overcrowding in the yard. Some trees are kept small
                    purely for artistic reasons as well. Bonsai trees are classic examples of crown-reduction in the
                    extreme, where the growth, the size of a tree, is severely scaled back.</p>
                <hr>
                <p><span class="image right"><img
                        src="{% static '/website/images/best-treeclimber.webp' %}" alt=""/></span>
                <h3><a id="cabling-deadwooding">Cabling & Deadwooding</a></h3>
                <h4><i>Cabling</i></h4>
                <p>Similar to a human with bad posture or spinal problems, a tree can start to grow in a manner that
                    is
                    harmful when it is still relatively young. If this kind of harmful growth is allowed to continue
                    unabated, the tree will eventually be unable to support itself. This can lead to obvious
                    problems,
                    such as the tree damaging your home, or simply needing to be removed altogether. This is where
                    our
                    team’s training with cabling techniques comes in. When cabling is professionally applied, it can
                    correct a tree’s growth and allow it to redirect in a safe manner.</p>
                <br>
                <h4><i>Deadwooding</i></h4>
                <p>Deadwooding is, in practice, basically what it sounds like. This is the practice of trimming dead
                    wood from a tree. Over time, branches large and small start to die and fall from a tree. This
                    can
                    happen due to a variety of factors. One scenario that is common in urban or suburban areas is a
                    tree
                    that only receives sunlight on one side, leading to the tree not getting enough nutrients on the
                    other side. Deadwooding removes these parts of the tree before any major issues occur. This
                    keeps
                    the tree healthier, and reduces the liklihood of a large branch falling and causing damage.
                </p>
                <br>

                <p><span class="image left"><img
                        src="{% static '/website/images/landscaping-purple-flowers.jpg' %}"
                        alt="landscaping purple flowers image"/></span>
                <h3><a id="landscaping">Landscaping</a></h3><br>

                <ul class="accordion">
                    <li>
                        <a>Lawn Care</a>
                        <p>Lawn care is one of the obvious services that one thinks of when they think of
                            landscaping services. It isn't difficult to do, but it isn't easy to do well. In
                            addition to our tree services, our team will work with you to make sure that
                            your
                            lawn care needs are met.</p>

                        <p>This usually includes mowing, edging, and weed-eating. However, we tend to take
                            each
                            situation individually, and work with our clients to make sure they are
                            satisfied.</p>
                    </li>
                    <li>
                        <a>Blackberry & Bramble Removal</a>
                        <p>Blackberries and bramble grow incessantly in the Pacific Northwest. This is
                            great for pies and rabbits, and terrible for almost everything else.

                            This is where we come in. We can evaluate the project as we do with any other,
                            work
                            with you to discover exactly what you would like done, and we get to work.
                            Complete
                            removal, or anything else. And cleanup after the project is finished.</p>
                    </li>
                    <li>
                        <a>Installation of Bark & Rock</a>
                        <p>The bark and rock covering aspects are an important part of the health and
                            aesthetic of your garden and yard.</p>

                        <p>The first thing people think of when they hear beauty bark, mulch, or rock are
                            often
                            the visual appeal. But these components can also do wonders for the health of
                            your
                            plants.</p>

                        <p>Bark and mulch prevents soil erosion, provides insulation to the soil during
                            extreme
                            temperature changes, and helps the soil retain moisture. They can also assist in
                            preventing unwanted weeds, and can even reduce the need for herbicides and
                            fertilizer.</p>

                        <p>We will work with you to figure out exactly what your personal needs are, and
                            then
                            our team will get to work on installation.</p>
                    </li>
                </ul> <!-- / accordion -->
            </div>
        </section>
    </article>
    <footer>

        <div class="container-footer-all">

            <div class="container-body">

                <div class="column1">
                    <div class="footer-row">
                        <label> <img src="{% static 'website/images/national-forest-foundation-full.jpeg' %}"
                                     alt="National forest foundation Logo"/>
                        </label>
                        <h4>For every tree removed, we make a donation to the National Forest Foundation</h4>

                        <p>While tree removal is a part of of what we do, we also understand how essential they
                            are to
                            all of us. That is why for every tree removal, we make a donation
                            to the
                            National Forest Foundation.</p>

                        <p>The forests of the Pacific Northwest and Alaska have remarkable diversity. From
                            temperate
                            rainforests, to dry pine, these habitats provide countless benefits to the wildlife
                            populations and humans alike. The National Forest Foundation plants millions of
                            trees every year, and has
                            many outreach programs to help ensure the health and diversity of our forests.</p>
                    </div>
                </div>
                <div class="column3">

                    <h1>Contact Information</h1>

                    <div class="row2">
                        <img src="{% static 'website/images/places.ico' %}" alt="places icon">
                        <label>Serving Whatcom, Island, & Skagit Counties</label>
                    </div>

                    <div class="row2">
                        <img src="{% static 'website/images/mobile-phone.ico' %}" alt="phone icon">
                        <label> <a href="tel:+1 360-393-6189">360-393-6189</a></label>
                    </div>

                    <div class="row2">
                        <img src="{% static 'website/images/email-48.ico' %}" alt="email icon">
                        <label><a href="mailto: pnw.treeconsultants@gmail.com">pnw.treeconsultatnt@gmail.com</label>
                    </div>
                </div>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FPNWTreeConsultant%2F&tabs=timeline&width=300px&height=100px&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                        width="300px" height="200px" style="border:none;overflow:hidden"
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share; fullscreen"></iframe>
            </div>
        </div>


        <div class="container-footer">
            <div class="footer">
                <div class="copyright">
                    © 2021 PNW Tree & Landscaping LLC | <a href="www.thejordanmiracle.herokuapp.com">Jordan
                    Miracle</a>
                </div>

                <div class="information">

                </div>
            </div>

        </div>

    </footer>
</div>


<!-- Scripts -->
<script src="{% static 'website/js/jquery.min.js' %}"></script>
<script src="{% static 'website/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'website/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'website/js/browser.min.js' %} "></script>
<script src="{% static 'website/js/breakpoints.min.js' %}"></script>
<script src="{% static 'website/js/util.js' %}"></script>
<script src="{% static 'website/js/main.js' %}"></script>


</body>
</html>
