{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
    <link rel="stylesheet" href="{% static 'website/css/main.css' %}"/>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <noscript>
        <link rel="stylesheet" href="{% static 'website/css/noscript.css' %}"/>
    </noscript>


    <script type="text/javascript">
        var bodyCacheable = true;

        var exclusionReason =
            {"shouldRender": true, "forced": false};
        var ssrInfo = {"renderBodyTime": 327}

    </script>
    <style>
        #header a {
            font-size: .5em;
        }
    </style>
</head>
<body class="is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="{% url 'index' %}">PNW Tree & Landscaping</a></h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'services' %}">Services</a></li>
                            <li><a href="{% url 'gallery' %}">Gallery</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <article id="main">
        <header>
            <h2>Our Services</h2>
            <p>A look at what we do</p>
        </header>
        <section class="wrapper style5">
            <div class="inner">
                <p><span class="image left"><img
                        src="{% static '/website/images/uprooted-trees-best.webp' %}" alt=""/></span>
                <h2>24/7 Emergency Services<br>
                    <a href="tel:+1 360-393-6189">360-393-6189</a>
                </h2>
                <p>We offer 24/7 emergency services because we know that not all emergencies happen during typical
                    business hours. Whether a tree has fallen from a storm, an uprooted tree has ripped up piping, or
                    anything else that constitutes an emergency, we are here. Serving Whatcom, Skagit, and Island
                    Counties.</p>

                <h3><a id="damage-cleanup">Storm Damage cleanup</a></h3>
                <p>Attempting to clean up weather damage on one's own can be incredibly dangerous. The risks of injury,
                    are nearly as high after a storm as they are during it. Stray power
                    lines, shattered glass, and debris such as splintered wood are just a few of the things that must be
                    accounted for after a storm, and are assessed by our team. All of these cleanup procedures should be
                    conducted by professionals, for your safety, and for the safety of your property. We diligently
                    abide by ISA standards, and will work with you to ensure zero additional damage to your
                    property.</p>

                <hr/>
                <p><span class="image right"><img
                        src="{% static '/website/images/climber-horizontal-trees-walker.webp' %}"
                        alt="Tree removal"/></span>
                <h3><a id="damage-cleanup">Tree Removal</a></h3>
                <p>Trees are a beautiful and essential part of our world, and of your property, we all love them.
                    However, we recognize when a tree is beyond recovery. This can happen for a variety of factors such
                    as age, disease, storm damage. When this happens, and the tree is past the point of being able to
                    heal, that is when we recommend removing the tree entirely. Dead trees are incapable of supporting
                    themselves, and can lead to unnecessary hazards.</p>

                <p>All this being said, it can be exceedingly dangerous to try and remove these trees, or even trim them
                    on one’s own. When these issues arise, we are here to help. Your safety, and the safety of your
                    property is of the utmost importance to our team. Our clients depend on us knowing how to safely
                    remove trees that are damaged or diseased, and best-practices are always observed.</p>
            </div>
            <br><br><br>
            <span class=""></span>
            <div class="inner">
                <p><span class="image left"><img
                        src="{% static '/website/images/stump-removal.webp' %}" alt="Stump removal"</span>
                <h3><a id="damage-cleanup">Stump Removal</a></h3>
                <p>Once a tree is removed, the stump can remain and it will continue to grow, as will the roots.
                    Stumps,
                    in and of themselves, are not harmful. However, they can often get in the way of planting new
                    trees,
                    gardens, or obstruct construction projects. Eventually, it is also possible for the
                    roots to begin to push up foundations or fencing. And, of course, stumps can quickly become a
                    home
                    for termites. Which is fine while out in the forest, not near your home! </p>

                <p>This is where we come in. After removing a tree, our team can remove the stump in the most
                    effective
                    way possible. Removing the stump of an old tree, in particular, can be incredibly time-consuming
                    and
                    challenging without the proper knowledge and equipment. We are able to grind down stumps in a
                    quick
                    and efficient manner.</p>
                <br><br>
                <hr>

                <p><span class="image right"><img
                        src="{% static '/website/images/topdown-house.webp' %}" alt=""/></span>
                <h3><a id="damage-cleanup">Trimming & Pruning</a></h3>
                <u>Trimming vs. Pruning</u>

                <p> While these terms are often used interchangeably, there is actually a specific functional
                    difference
                    between the two.</p>

                <p><i>Pruning</i> is generally associated with trees and shrubs whose health would be greatly
                    improved
                    by the
                    removal of dead, diseased, or broken branches. Proper pruning, done by certified professionals,
                    removes
                    these potential hazards.</p>

                <p><i>Trimming</i>, on the other hand is generally applied to shrubs, hedges, and trees for design
                    purposes. Apart
                    from offering a more pleasing aesthetic, trimming can also remove excessively dense growth, and
                    allow
                    for sunlight and moisture to reach other areas.</p>
                <br><br><br>

                <p><span class="image left"><img
                        src="{% static '/website/images/yellowhouse.webp' %}" alt=""/></span>
                <h3><a id="damage-cleanup">Windsailing and Crown Reduction</a></h3>
                <p>Crown-reduction is basically reducing the overall size of a tree’s canopy by using reduction cuts
                    on many of the secondary (smaller) branches all around the outside — shortening as many of the
                    limbs as possible. The best application of crown-reduction is when a tree has been planted in a
                    small area. It isn’t uncommon for a sapling tree to be planted with little to no consideration
                    given to how large it may eventually become — which varies depending on the species as well as
                    environmental factors (such as watering and soil quality). </p>

                <p>Mindful planning of the potential sizes of various tree in a yard is tricky, and if mistakes have
                    been made, crown-reduction can help with overcrowding in the yard. Some trees are kept small
                    purely for artistic reasons as well. Bonsai trees are classic examples of crown-reduction in the
                    extreme, where the growth, the size of a tree, is severely scaled back.</p>
                <hr>
                <p><span class="image right"><img
                        src="{% static '/website/images/best-treeclimber.webp' %}" alt=""/></span>
                <h3><a id="cabling-deadwooding">Cabling & Deadwooding</a></h3>
                <h4><i>Cabling</i></h4>
                <p>Similar to a human with bad posture or spinal problems, a tree can start to grow in a manner that
                    is
                    harmful when it is still relatively young. If this kind of harmful growth is allowed to continue
                    unabated, the tree will eventually be unable to support itself. This can lead to obvious
                    problems,
                    such as the tree damaging your home, or simply needing to be removed altogether. This is where
                    our
                    team’s training with cabling techniques comes in. When cabling is professionally applied, it can
                    correct a tree’s growth and allow it to redirect in a safe manner.</p>
                <br>
                <h4><i>Deadwooding</i></h4>
                <p>Deadwooding is, in practice, basically what it sounds like. This is the practice of trimming dead
                    wood from a tree. Over time, branches large and small start to die and fall from a tree. This
                    can
                    happen due to a variety of factors. One scenario that is common in urban or suburban areas is a
                    tree
                    that only receives sunlight on one side, leading to the tree not getting enough nutrients on the
                    other side. Deadwooding removes these parts of the tree before any major issues occur. This
                    keeps
                    the tree healthier, and reduces the liklihood of a large branch falling and causing damage.
                </p>
                <br>

                <p><span class="image left"><img
                        src="{% static '/website/images/landscaping-purple-flowers.jpg' %}" alt=""/></span>
                <h3><a id="damage-cleanup">Landscaping</a></h3>
                <div class="container">
                    <div class="accordion-option">
                        <h3 class="title">Lorem Ipsum</h3>
                        <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                       aria-expanded="true" aria-controls="collapseOne">
                                        Collapsible Group Item #1
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird
                                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                    vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                    labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        Collapsible Group Item #2
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird
                                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                    vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                    labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                        Collapsible Group Item #3
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingThree">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird
                                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                    vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                    labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default,
                        until the collapse plugin adds the appropriate classes that we use to style each
                        element. These classes control the overall appearance, as well as the showing and
                        hiding
                        via CSS transitions. You can modify any of this with custom CSS or overriding our
                        default variables. It's also worth noting that just about any HTML can go within the
                        <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
</div>

<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; Jordan Miracle</li>
        <li></li>
    </ul>
</footer>


<!-- Scripts -->
<script src="{% static 'website/js/jquery.min.js' %}"></script>
<script src="{% static 'website/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'website/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'website/js/browser.min.js' %} "></script>
<script src="{% static 'website/js/breakpoints.min.js' %}"></script>
<script src="{% static 'website/js/util.js' %}"></script>
<script src="{% static 'website/js/main.js' %}"></script>


</body>
</html>
