{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'website/css/main.css' %}"/>
    <noscript>
        <link rel="stylesheet" href="{% static 'website/css/noscript.css' %}"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="{% url 'index' %}">Services</a></h1>
        <nav id="nav">
            <ul>
                <li class="special">
                    <a href="#menu" class="menuToggle"><span>Menu</span></a>
                    <div id="menu">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'services' %}">Services</a></li>
                            <li><a href="{% url 'gallery' %}">Gallery</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <article id="main">
        <header>
            <h2>Our Services</h2>
            <p>A look at what we do</p>
        </header>
        <section class="wrapper style5">
            <div class="inner">
                <p><span class="image left"><img
                        src="{% static '/website/images/uprooted-trees-on-house.jpeg' %}" alt=""/></span>
                <h2>24/7 Emergency Services<br>
                    <a href="tel:+1 360-393-6189">360-393-6189</a>
                </h2>
                <p>We offer 24/7 emergency services because we know that not all emergencies happen during typical
                    business hours. Whether a tree has fallen from a storm, an uprooted tree has ripped up piping, or
                    anything else that constitutes an emergency, we are here. Serving Whatcom, Skagit, and Island
                    Counties.</p>

                <h3><a id="damage-cleanup">Storm Damage cleanup</a></h3>
                <p>Attempting to clean up weather damage on one's own can be incredibly dangerous. The risks of injury,
                    are nearly as high after a storm as they are during it. Stray power
                    lines, shattered glass, and debris such as splintered wood are just a few of the things that must be
                    accounted for after a storm, and are assessed by our team. All of these cleanup procedures should be
                    conducted by professionals, for your safety, and for the safety of your property. We diligently
                    abide by ISA standards, and will work with you to ensure zero additional damage to your
                    property.</p>

                <hr/>
                <h3>Tree Removal</h3>
                <p>Trees are a beautiful and essential part of our world, and of your property, we all love them.
                    However, we recognize when a tree is beyond recovery. This can happen for a variety of factors such
                    as age, disease, storm damage. When this happens, and the tree is past the point of being able to
                    heal, that is when we recommend removing the tree entirely. Dead trees are incapable of supporting
                    themselves, and can lead to unnecessary hazards.</p>

                <p>All this being said, it can be exceedingly dangerous to try and remove these trees, or even trim them
                    on one’s own. When these issues arise, we are here to help. Your safety, and the safety of your
                    property is of the utmost importance to our team. Our clients depend on us knowing how to safely
                    remove trees that are damaged or diseased, and best-practices are always observed.</p>
            </div>
            <div class="inner">
                <h3>Stump Grinding / Removal</h3>
                <p>Once a tree is removed, the stump can remain and it will continue to grow, as will the roots. Stumps
                    in and of themselves are not harmful. However, they can often get in the way of planting new trees,
                    gardens, or getting in the way of construction projects. Eventually, it is also possible for the
                    roots to begin to push up foundations or fencing. They also can be a haven for termites. </p>

                <p>This is where we come in. After removing a tree, our team can remove the stump in the most effective
                    way possible. Removing the stump of an old tree, in particular, can be incredibly time-consuming and
                    challenging without the proper knowledge and equipment. We are able to grind down stumps in a quick
                    and efficient manner.</p>


                <h3>Tree Safety & Maintenance</h3>
                <p>Nam sapien ante, varius in pulvinar vitae, rhoncus id massa. Donec varius ex in mauris ornare, eget
                    euismod urna egestas. Etiam lacinia tempor ipsum, sodales porttitor justo. Aliquam dolor quam,
                    semper in tortor eu, volutpat efficitur quam. Fusce nec fermentum nisl. Aenean erat diam, tempus
                    aliquet erat.</p>

                <p>Etiam iaculis nulla ipsum, et pharetra libero rhoncus ut. Phasellus rutrum cursus velit, eget
                    condimentum nunc blandit vel. In at pulvinar lectus. Morbi diam ante, vulputate et imperdiet eget,
                    fermentum non dolor. Ut eleifend sagittis tincidunt. Sed viverra commodo mi, ac rhoncus justo. Duis
                    neque ligula, elementum ut enim vel, posuere finibus justo. Vivamus facilisis maximus nibh quis
                    pulvinar. Quisque hendrerit in ipsum id tellus facilisis fermentum. Proin mauris dui, at vestibulum
                    sit amet, auctor bibendum neque.</p>
        </section>
    </article>

</body>

<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; Jordan Miracle</li>
        <li></a></li>
    </ul>
</footer>

</div>

<!-- Scripts -->
<script src="{% static 'website/js/jquery.min.js' %}"></script>
<script src="{% static 'website/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'website/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'website/js/browser.min.js' %} "></script>
<script src="{% static 'website/js/breakpoints.min.js' %}"></script>
<script src="{% static 'website/js/util.js' %}"></script>
<script src="{% static 'website/js/main.js' %}"></script>

</body>
</html>
