{% load static %}
{% block content %}

    <!DOCTYPE HTML>

    <html lang="en">
    <head>
        <title>PNW Tree Consultants & Services</title>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
        <meta name="description"
              content="An experienced, efficient, and fast team of arborists and landscaping experts that provide everything from
              landscaping services to emergency storm damage cleanup. Safety and satisfaction are the goal."/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script type="text/javascript">
            var bodyCacheable = true;

            var exclusionReason =
                {"shouldRender": true, "forced": false};
            var ssrInfo = {"renderBodyTime": 327}

        </script>
        <link rel="stylesheet" href="{% static 'website/../../../static/website/css/main.css' %}"/>
        <noscript>
            <link rel="stylesheet" href="{% static 'website/../../../static/website/css/noscript.css' %}"/>
        </noscript>
        <style>{% block style %}  {% endblock style %}</style>
        {% block head_extra %}  {% endblock head_extra %}
    </head>
    <body class="landing is-preload">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0"
            nonce="d7ogqJji"></script>
    <!-- Page Wrapper -->
    <div id="page-wrapper">
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous"
                src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0" nonce="BrBH7YHW"></script>
        <!-- Header -->
        <header id="header" class="alt">
            <h1><a href="index.html">PNW Tree Consultants & Services</a></h1>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <div id="menu">
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="reviews.html">Gallery</a></li>
                                <li><a href="#">Sign Up</a></li>
                                <li><a href="#">Log In</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Banner -->
        <section id="banner">
            <img src="" alt=""/>
            <div class="inner">
                <h2>PNW Tree Consultants & Services</h2>
                <p>Serving Whatcom, Skagit, and Island Counties<a href=""></a></p>
                <ul class="actions special">
                    <li><a href="#" class="button primary">Get a Quote</a></li>
                </ul>
            </div>
            <a href="#one" class="more scrolly">Learn More</a>
        </section>

        <!-- One -->
        <section id="one" class="wrapper style1 special">
            <div class="inner">
                <header class="major">
                    <h2>24/7 Emergency Services On-Call</h2>
                </header>

        </section>

        <!-- Two -->
        <section id="two" class="wrapper alt style2">
            <section class="spotlight">
                <div class="image"><img src="{% static '/website/images/overlooking-sound.jpg' %}" alt=""/></div>
                <div class="content">
                    PNW Tree & Landscape
                        is family owned by a local couple in Bellingham, Washington. We provide a wide range of tree and
                        land services, and do so in a friendly, professional, team oriented work environment. Speed,
                    efficiency, and above all, <strong>safety</strong> are what set us apart. <br> We are licensed, bonded, and
                        insured
                        in the state of Washington.
                    <p></p>
                </div>
            </section>

            <section class="spotlight">
                <div class="image"><img src="{% static 'website/images/uprooted-trees-best.jpeg' %}" alt="Uprooted trees"/></div>
                <div class="content">
                    <h2>Storm Damage Cleanup</h2>
                    <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla
                        nullam
                        aenean mi ligula.</p>
                </div>
            </section>
            <section class="spotlight">
                <div class="image"><img src="{% static 'website/images/uprooted-trees-great.jpg' %}"
                                        alt=""/></div>
                <div class="content">
                    <h2>Augue eleifend aliquet<br/>
                        sed condimentum</h2>
                    <p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla
                        nullam
                        aenean mi ligula.</p>
                </div>
            </section>
        </section>

        <!-- Three -->
        <section id="three" class="wrapper style3 special">
            <div class="inner">
                <header class="major">
                    <h2>Accumsan mus tortor nunc aliquet</h2>
                    <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br/>
                        fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
                </header>
                <ul class="features">
                    <li class="icon fa-paper-plane">
                        <h3>Arcu accumsan</h3>
                        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo
                            Aenean ligula
                            consequat consequat.</p>
                    </li>
                    <li class="icon solid fa-laptop">
                        <h3>Ac Augue Eget</h3>
                        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo
                            Aenean ligula
                            consequat consequat.</p>
                    </li>
                    <li class="icon solid fa-code">
                        <h3>Mus Scelerisque</h3>
                        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo
                            Aenean ligula
                            consequat consequat.</p>
                    </li>
                    <li class="icon solid fa-headphones-alt">
                        <h3>Mauris Imperdiet</h3>
                        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo
                            Aenean ligula
                            consequat consequat.</p>
                    </li>
                    <li class="icon fa-heart">
                        <h3>Aenean Primis</h3>
                        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo
                            Aenean ligula
                            consequat consequat.</p>
                    </li>
                    <li class="icon fa-flag">
                        <h3>Tortor Ut</h3>
                        <p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo
                            Aenean ligula
                            consequat consequat.</p>
                    </li>
                </ul>
            </div>
        </section>

        <!-- CTA -->
        <div class="fb-page"
             data-href="https://www.facebook.com/PNWTreeConsultant"
             data-width="380"
             data-hide-cover="false"
             data-show-facepile="false"></div>
        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Miracle 2021</li>
            </ul>
        </footer>

    </div>
    <!-- Scripts -->
    <script src="{% static 'website/../../../static/website/js/jquery.min.js' %}"></script>
    <script src="{% static 'website/../../../static/website/js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'website/../../../static/website/js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'website/../../../static/website/js/browser.min.js' %} "></script>
    <script src="{% static 'website/../../../static/website/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'website/../../../static/website/js/util.js' %}"></script>
    <script src="{% static 'website/../../../static/website/js/main.js' %}"></script>

    </body>
{% endblock %}
</html>
