{% load static %}
{% block content %}
    {% load pwa %}

    <!DOCTYPE HTML>

    <html lang="en">
    <head>
        <title>PNW Tree Consultants & Services</title>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
        <meta name="google-site-verification" content="EvXF0E61QfBKBGoNfPz-_m6mrCbxap1lGmwFLMoK6Go"/>
        {% progressive_web_app_meta %}
        <meta name="description"
              content="An experienced, efficient, and fast team of arborists and landscaping experts that provide everything from
              landscaping services to emergency storm damage cleanup. Safety and satisfaction are the goal."/>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1 user-scalable=yes"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script></script>
        <script type="text/javascript">
            const bodyCacheable = true;
            const exclusionReason =
                {"shouldRender": true, "forced": false};
            const ssrInfo = {"renderBodyTime": 327};

        </script>
    <script>
        (function($) {

	var	$window = $(window),
		$body = $('body'),
		$wrapper = $('#page-wrapper'),
		$banner = $('#banner'),
		$header = $('#header');

	// Breakpoints.
		breakpoints({
			xlarge:   [ '1281px',  '1680px' ],
			large:    [ '981px',   '1280px' ],
			medium:   [ '737px',   '980px'  ],
			small:    [ '481px',   '736px'  ],
			xsmall:   [ null,      '480px'  ]
		});

	// Play initial animations on page load.
		$window.on('load', function() {
			window.setTimeout(function() {
				$body.removeClass('is-preload');
			}, 100);
		});

	// Mobile?
		if (browser.mobile)
			$body.addClass('is-mobile');
		else {

			breakpoints.on('>medium', function() {
				$body.removeClass('is-mobile');
			});

			breakpoints.on('<=medium', function() {
				$body.addClass('is-mobile');
			});

		}

	// Scrolly.
		$('.scrolly')
			.scrolly({
				speed: 1500,
				offset: $header.outerHeight()
			});

	// Menu.
		$('#menu')
			.append('<a href="#menu" class="close"></a>')
			.appendTo($body)
			.panel({
				delay: 500,
				hideOnClick: true,
				hideOnSwipe: true,
				resetScroll: true,
				resetForms: true,
				side: 'right',
				target: $body,
				visibleClass: 'is-menu-visible'
			});

	// Header.
		if ($banner.length > 0
		&&	$header.hasClass('alt')) {

			$window.on('resize', function() { $window.trigger('scroll'); });

			$banner.scrollex({
				bottom:		$header.outerHeight() + 1,
				terminate:	function() { $header.removeClass('alt'); },
				enter:		function() { $header.addClass('alt'); },
				leave:		function() { $header.removeClass('alt'); }
			});

		}

})(jQuery);

(function ($) {
    $('.accordion > li:eq(1) a').addClass('active').next().slideDown();

    $('.accordion a').click(function (j) {
        const dropDown = $(this).closest('li').find('p');

        $(this).closest('.accordion').find('p').not(dropDown).slideUp();

        if ($(this).hasClass('active')) {
            $(this).removeClass('active');
        } else {
            $(this).closest('.accordion').find('a.active').removeClass('active');
            $(this).addClass('active');
        }

        dropDown.stop(false, true).slideToggle();

        j.preventDefault();
    });
})(jQuery);

    </script>
        <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="{% static 'website/css/main.css' %}"/>
        <link rel="manifest" href="manifest.json"/>
        <noscript>
            <link rel="preload" as="style" onload="this.rel = 'stylesheet'"
                  href="{% static 'website/css/noscript.css' %}"/>
        </noscript>
        <style>{% block style %}  {% endblock style %}</style>
        {% block head_extra %}  {% endblock head_extra %}

    </head>
    <body class="landing is-preload">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
        <!-- Header -->
        <header id="header" class="alt">
            <h1><a href="index.html">PNW Tree & Landscaping</a></h1>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <div id="menu">
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'gallery' %}">Gallery</a></li>
                                <li><a href="{% url 'services' %}">Services</a></li>


                                <li><a href="#"></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>PNW Tree & Landscaping</h2>
                <p>Serving Whatcom, Skagit, and Island Counties</p>
                <ul class="actions special">
                    <li><a href="mailto: pnw.treeconsultant@gmail.com" class="button primary">Get a Quote</a></li>
                </ul>
            </div>
            <a href="#one" class="more scrolly">Learn More</a>
        </section>

        <!-- One -->
        <section id="one" class="wrapper style1 special">
            <div class="inner">
                <header class="major">
                    <h2>24/7 Emergency Services On-Call</h2>
                    <div class="row" id="phone">
                        <a href="tel:+1 360-393-6189">360-393-6189</a>
                    </div>
                </header>


        </section>

        <!-- Two -->
        <section id="two" class="wrapper alt style2">
            <section class="spotlight">
                <div class="image"><img src="{% static 'website/images/overlooking-sound-50percentx2.webp' %}"
                                        width="345px" height="258"
                                        alt="Image of tree climber overlooking Bellingham Bay"/></div>
                <div class="content">
                    PNW Tree & Landscape
                    is family owned by a local couple in Bellingham, Washington. We provide a wide range of tree and
                    land services, and do so in a friendly, professional, team oriented work environment. Everything
                    from emergency and storm damage services, to crown reduction, tree removal, and even a wide range of
                    landscaping projects. Speed,
                    efficiency, and above all, <strong>safety</strong> are what set us apart. <br> We always abide
                    diligently by ISA standards, and are licensed,
                    bonded, and
                    insured
                    in the state of Washington.
                    <br><br> <a href="{% url 'services' %}"><u><strong>Take a look at the services we provide!</strong></u></a>
                    <div></div>
                    </a></div>
            </section>

            <section class="spotlight">
                <div class="image"><img src="{% static 'website/images/uprooted-trees-best-50percentx2.webp' %}"
                                        width="345px" height="460px"
                                        alt="Uprooted trees"/></div>
                <div class="content">
                    <h2>Storm Damage Cleanup</h2>
                    <p>Storms can have devastating consequences for your home and property. Uprooted trees, torn up
                        pipes, flattened structures, and downed power lines can be incredibly dangerous to deal with.
                        Our fast and efficient team has the expertise to get your property back to it's original
                        condition. And, in more extreme cases, we have experience working with insurance companies to
                        ensure you get back to normal after a storm.</p><br><br>
                    <table>
                        <thead>
                        <tr>
                            <th colspan="2"><h4>Select a service to read more!</h4></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="{% url 'services' %}#emergencyservices">24/7 Emergency Services</a></td>
                            <td><a href="{% url 'services' %}#stormdamage">Storm Damage Cleanup</a></td>
                            <td><a href="{% url 'services' %}#treeremoval">Tree Removal</a></td>
                        <tr>
                            <td><a href="{% url 'services' %}#stumpremoval">Stump Removal</a></td>
                            <td><a href="{% url 'services' %}#trimmingpruning">Trimming & Pruning</a></td>
                            <td><a href="{% url 'services' %}#windsailing">Windsailing</a></td>
                        <tr>
                            <td><a href="{% url 'services' %}#crownreduction">Crown Reduction</a></td>
                            <td><a href="{% url 'services' %}#cabling">Cabling & Deadwooding</a></td>
                            <td><a href="{% url 'services' %}#landscaping">Landscaping</a></td>

                        </tr>
                        </tbody>
                    </table>
                </div>

            </section>
            <section class="spotlight">
                <div class="image"><img src="{% static 'website/images/topdown-house.webp' %}" height=500px
                                        width=500px
                                        alt="Image from up in a tree looking down on a house."/></div>
                <div class="content">
                    <h2>Tree removal, technical rigging, maintenance, and even landscaping.</h2>
                    <p>Wherever a tree is located, and whatever your situation may call for, we've handled it. From
                        tree cabling, removal of trees in tight spaces, windsailing, yard and garden services, to stump
                        grinding and maintenance. We have you covered. </p>
                    <br> <a href="{% url 'services' %}"><u>Read more about our services here!</u></a>
                </div>
            </section>
        </section>

        <!-- Three -->
        <!-- Begin widget code -->
        <div data-rw-masonry="23481"></div>
        <script>var script = document.createElement("script");
        script.type = "module";
        script.src = "https://widgets.thereviewsplace.com/2.0/rw-widget-masonry.js";
        document.getElementsByTagName("head")[0].appendChild(script);</script>
        <!-- End widget code -->

        <!-- Footer -->
        <footer>

            <div class="container-footer-all">

                <div class="container-body">

                    <div class="column1">
                        <div class="footer-row">
                            <label> <img src="{% static 'website/images/national-forest-foundation-full.jpeg' %}"
                                         alt="National forest foundation Logo"/>
                            </label>
                            <h4>For every tree removed, we make a donation to the National Forest Foundation</h4>

                            <p>While tree removal is a part of of what we do, we also understand how essential they
                                are to
                                all of us. That is why for every tree removal, we make a donation
                                to the
                                National Forest Foundation.</p>

                            <p>The forests of the Pacific Northwest and Alaska have remarkable diversity. From
                                temperate
                                rainforests, to dry pine, these habitats provide countless benefits to the wildlife
                                populations and humans alike. The National Forest Foundation plants millions of
                                trees every year, and has
                                many outreach programs to help ensure the health and diversity of our forests.</p>
                        </div>
                    </div>
                    <div class="column3">

                        <h1>Contact Information</h1>

                        <div class="row2">
                            <img src="{% static 'website/images/places.ico' %}" alt="places icon">
                            <label>Serving Whatcom, Island, & Skagit Counties</label>
                        </div>

                        <div class="row2">
                            <img src="{% static 'website/images/mobile-phone.ico' %}" alt="phone icon">
                            <label> <a href="tel:+1 360-393-6189">360-393-6189</a></label>
                        </div>

                        <div class="row2">
                            <img src="{% static 'website/images/email-48.ico' %}" alt="email icon">
                            <label><a href="mailto: pnw.treeconsultants@gmail.com">pnw.treeconsultant@gmail.com</label>
                        </div>
                    </div>
                    <iframe title="Facebook widget"
                            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FPNWTreeConsultant%2F&tabs=timeline&width=300px&height=100px&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                            width="300px" height="200px" style="border:none;overflow:hidden"
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share; fullscreen"></iframe>

                </div>
            </div>


            <div class="container-footer">
                <div class="footer">
                    <div class="copyright">
                        © 2021 PNW Tree & Landscaping LLC | <a href="www.thejordanmiracle.herokuapp.com">Jordan
                        Miracle</a>
                    </div>

                    <div class="information">

                    </div>
                </div>

            </div>

        </footer>

        <!-- <div class="copyright">
            <div class="container">
                <div class="col-md-12 col-sm-12">
                    <p>© 2018 - All Rights with <a href="//axen.com/">AXEN Usa Ltd.</a></p>
                </div>
            </div>
        </div> -->

        <!-- Scripts -->
        <script src="{% static 'website/js/jquery.min.js' %}"></script>
        <script src="{% static 'website/js/jquery.scrollex.min.js' %}"></script>
        <script src="{% static 'website/js/jquery.scrolly.min.js' %}"></script>
        <script src="{% static 'website/js/browser.min.js' %} "></script>
        <script src="{% static 'website/js/breakpoints.min.js' %}"></script>
        <script src="{% static 'website/js/util.js' %}"></script>
        <script src="{% static 'website/js/main.js' %}"></script>
    </div>
    </body>
{% endblock %}
</html>
