.env
__pycache__/
PNWproject/__pycache__/urls.cpython-38.pyc
PNWproject/__pycache__/wsgi.cpython-38.pyc
website/__pycache__/admin.cpython-38.pyc
website/__pycache__/models.cpython-38.pyc
website/__pycache__/urls.cpython-38.pyc
website/__pycache__/views.cpython-38.pyc
website/migrations/__pycache__/
