{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'website/css/main.css' %}"/>
    <link href="{% static 'photos/css/lightbox.css' %}" rel="stylesheet"/>


    <title>Gallery</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% block content %}
        <style>
            .image-thumbail {
                height: 200px;
                object-fit: cover;
            }

            .list-group-item a {
                text-decoration: none;
                color: black;
            }

            #sidebar {
                display: none;
            }
        </style>
        </head>
        <article id="main">
        <nav id="nav">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">PNW Tree & Landscaping</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'services' %}">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'gallery' %}">Gallery<span class="sr-only">(current)</span></a>
                        </li>

                    </ul>
                </div>
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <div id="menu">
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'gallery' %}">Gallery</a></li>
                                <li><a href="{% url 'services' %}">Services</a></li>


                                <li><a href="#"></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>

        </nav>

        <header>
            <h2>Gallery</h2>
            <p>See our work</p>
        </header>
        <div class="clear"></div>
        <body class="m-5">

        <div class="container">
            <div role="alert" id="alert-if-safari"></div>

            <script>
                var is_safari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
                if (is_safari) {
                    const alert_div = document.getElementById('alert-if-safari')
                    alert_div.className = 'alert alert-danger'
                    alert_div.innerHTML = 'Please view the gallery in Chrome, Firefox, Edge, or other supported browsers. You may still click the view button below images, and click through them that way, but due to a bug in Safari, images may appear distorted.'
                }

            </script>
            <div class="row">
                <div class="col-md-3">

                    <div class="card">
                        <div class="card-header">
                            Categories
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="{% url 'gallery' %}">All</a>
                            </li>
                            {% for category in categories %}
                                <li class=" list-group-item">
                                    <a href="{% url 'gallery' %}?category={{ category.name }}">
                                        {{ category.name }}
                                    </a>
                                </li>
                            {% endfor %}


                            <!-- <a href="{% url 'add' %}" class="btn btn-dark btn-block btn-sm m-1">Add Photo</a> -->

                        </ul>
                    </div>

                </div>
                <div class="col-md-9">
                    <div class="row">

                        {% for photo in photos %}
                            <div class="col-md-4">
                                <div class="card my-2">
                                    <img class="image-thumbnail" src="{{ photo.image.url }}" alt="Card image cap">

                                    <div class="card-body">
                                        <small>Category: {{ photo.category.name }}</small>
                                    </div>
                                    <a href="{{ photo.image.url }}" data-lightbox="View"
                                       data-title="{{ photo.description }}" data-alt="{{ photo.description }}"
                                       class="btn btn-outline-dark btn-sm m-1">View</a>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>


        <script src="{% static 'website/js/jquery.min.js' %}"></script>
        <script src="{% static 'website/js/jquery.scrollex.min.js' %}"></script>
        <script src="{% static 'website/js/jquery.scrolly.min.js' %}"></script>
        <script src="{% static 'website/js/browser.min.js' %} "></script>
        <script src="{% static 'website/js/breakpoints.min.js' %}"></script>
        <script src="{% static 'website/js/util.js' %}"></script>
        <script src="{% static 'website/js/main.js' %}"></script>
        <script src="{% static 'photos/js/lightbox.js' %}"></script>


        </body>

    {% endblock content %}

</html>